<!DOCTYPE html>
<html>

        
    <head>
           <meta charset = "utf-8">
            
           
        
            <title> signup </title>       



    </head>
        <body>
<form  >
    <div>
      <div >
    email: <input id ="email" type ="text" placeholder = "email">  
     </div>
     <div>
   password: <input id = "password" type ="password" placeholder ="password"> 
    </div>
   
   </div>

   <div>
    <button id ="signup" type="button" onclick = "sigup()" >signup</button> <a href ="/login"><button id = "signin" type ="button" onlick = "sigin()" >  signin </button></a>
</div>

</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">   </script>    
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>   

</body>


<script src = "/javascripts/user.js" ></script>


</html>