
<!DOCTYPE html>
<html>
    
<head>
  <meta charset ="utf-8">
<title> login page</title>
</head>

          <body>

               <div>
                <div >
                email: <input id ="email" type ="text" placeholder = "email">  
              </div>
              <div>
                password: <input id = "password" type ="password" placeholder ="password"> 
              </div>
              <div>
              <button id = "signin" type ="button" onclick = "sigin()" >  signin </button>
              </div>
              </div>

             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">   </script>    
             <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script> 

          </body>


          <script src= "javascripts/userlogin.js" >   </script>

</html>